*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 65.3%;
}
header {
    width: 100%;
    height: 100px;
    background-color: #4717f6;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.main-container-nav{
   
    display: flex;
    list-style: none;
  

}
.main-container-nav li{
    margin-right: 10px;
    
}
.main-container-nav a{
    text-decoration: none;
    color: black;

}
.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.main-section .main-info{
    background-color: gainsboro;
    height: auto;



}
 .main-section .main-info .imagen-personal{
background-position: center;

  
}
.main-section .main-info h2{
    font-size: 1.8rem;
    text-align: center;
    
}
.main-section .main-info img{
width: 150px;
height: 150px;


}

.main-section .main-info-laboral{
    background-color :gainsboro; 
}
.main-section .main-info-laboral h2{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.main-section .main-info-laboral p{
    font-size: 1.4rem;
    text-align: center;
}