*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 65.3%;
}
header {
    width: 100%;
    height: 100px;
    background-color: #2c9baa;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.main-container-nav{
   
    display: flex;
    list-style: none;
  

}
.main-container-nav li{
    margin-right: 10px;
    
}
.main-container-nav a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;

}
.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr;

  

}
.main-section .main-info{
    background-color: rgb(209, 29, 29);
    height: auto;
  

}
 .main-section .main-info .imagen-personal{
background-position: center;
background-image: url("./0b423f3553da26e886592e8621284a09-dibujado-a-mano-cr-neo-samurai.png");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
width: 100%;
height: 200px;

  
}
.main-section .main-info h2{
    font-size: 1.8rem;
    text-align: center;
    
}
.main-section .main-info img{
width: 150px;
height: 150px;


}

.main-section .main-info-laboral{
    background-color :rgb(92, 25, 216); 
}
.main-section .main-info-laboral h2{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.main-section .main-info-laboral p{
    font-size: 1.4rem;
    text-align: center;
}
.lenguajes-programacion{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: rgb(224, 229, 241);
}
.imagen-lenguajes{
    margin-top: 20px;
}
.imagen-lenguajes .logocss{
 width: 40%;
 height: auto;
}
.imagen-lenguajes .hachetml{
    width: 40%;
    height: auto;
}

footer{
    display: flex;
    background-color: rgb(214, 20, 127);
    height: 90px;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}
.footer-menuizquierdo{
    display: flex;

    
}
.footer-menuizquierdo li{
    list-style: none;
}
.footer-menuizquierdo li a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 10px;
    font-size: 1.2rem;
}

.footer-menuderecho{
    display: flex;
}
.footer-menuderecho li{
    list-style: none;
}
.footer-menuderecho li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
    margin-left: 10px;
}
.footer-menuderecho li a:hover{
    color: red;
    transition: 1.4s;
}